html,body{
    background:#fff;
    font-size: 100%;
}
body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,h2,h3,h4,h5,h6,label,p{
    margin:0;
}

.centered{
    text-align: center;
}

#buy-btn{
    padding-top: 3px;
    height: 30px;
    border-width: thin;
    border-style: solid;
    border-color: aliceblue;
}

#rent-btn{
    padding-top: 3px;
    height: 30px;
    border-width: thin;
    border-style: solid;
    border-color: aliceblue;
    border-left-style: none;
}

#homeblessed-logo-brand{
    height: 45px;
    margin-top: -10px;
}

.search-btn{
    margin-top: 30px;
    background-color: rgba(255,255,255,0.5);
    
}

#search-input2 {
    padding: 0px;
    padding-top: 10px;
}

.search-container{
    padding: 0px;
}

.jumbotron{
    height:80vh;
    background-image: url("../img/city-above.JPG");
}

.jumbotron a{
    text-decoration: none;
    color: #555555;
}

.search-btn:hover{
    background-color: rgba(0,0,70,0.5);
    color:aliceblue;
}

.btn-selected{
    background-color: rgba(0,0,70,0.5);
    color:aliceblue;
}

.features{
    padding-top: 40px;
}

.features p{
    font-size: 110%;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

hr.find-home-primary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 5px 0 0;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
    color: whitesmoke;
}

hr.find-home-primary::after {
    background-color: #222222;
    border-color: whitesmoke;
    color: whitesmoke;
}

hr.why-us-primary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 5px 0 0;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
}



hr.why-us-primary::after {
    content:  "\f05a";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2em;
    padding: 0 0.25em;
    position: relative;
    top: -0.8em;
}

hr.why-us-primary {
    border-color: #444444;
}

hr.why-us-primary::after {
    background-color: #FFFFFF;
    color: #444444;
}

section{
    height: 100%;
}

.features div p{
    padding-top: 30px;
}

hr.listings-primary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 5px 0 0;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
}

hr.listings-primary::after {
    content:  "\f022";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2em;
    padding: 0 0.25em;
    position: relative;
    top: -0.8em;
}

hr.listings-primary {
    border-color: #444444;
}

hr.listings-primary::after {
    background-color: #77bae4;
    color: #444444;
}

#new-listings{
    background-color: #77bae4;
    height:auto;
}

#contact-us{
    height: auto;
    margin-bottom: 35px;
}

hr.contact-primary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 5px 0 0;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
}

hr.contact-primary::after {
    content:  "\f003";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2em;
    padding: 0 0.25em;
    position: relative;
    top: -0.8em;
}

hr.contact-primary {
    border-color: #444444;
}

hr.contact-primary::after {
    background-color: #FFFFFF;
    color: #444444;
}

#search-section{
    margin-top: 50px;
}

.footer {
    background-color: #77bae4;
    height: 80px;
    width: 100%;    
    opacity: 0.8;
    padding: 20px;
    text-align: center;
    color: #111111;
    margin-bottom: 0px;
}

.social-networks{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 150%;
}

.features div{
    padding-bottom: 35px;
}

.social-networks li{
    display: inline;
    padding: 0;
    margin: 0;
}

.social-networks li a{
    text-decoration: none;
    color: #111111;
}

section{
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-success {
    color: #FFF;
    background-color: #337AB7;
    border-color: #356792;
}

.btn-success:hover {
    color: #FFF;
    background-color: rgb(35, 82, 124);
    border-color: rgb(57, 81, 102);
}