.navbar{
    background-color:#77bae4;
}

.navbar .nav > li > a {
    color:#222222;
}

.navbar-default .navbar-nav > .active >a{
    color: #FFF;
    background-color: rgba(0,0,70,0.5);
}

.navbar-default .navbar-nav > .active >a:focus, .navbar-default .navbar-nav > .active >a:hover{
    color: #FFF;
    background-color: rgba(0,0,70,0.5);
}

.navbar-nav>li:hover{
    color: #FFF !important;
    background-color:rgba(0,0,70,0.5);
}

.navbar-nav>li>a:hover{
    color: #FFF !important;
}

#profile-toggle.dropdown.open>a:focus{
    background-color: rgba(0, 0, 70, 0.5)!important;
    color:#ffffff!important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #262626!important;
    text-decoration: none !important;
    background-color: #E4D9D9!important;
    outline: 0px none !important;
}
.dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #E4D9D9!important;
}
#profile-toggle.dropdown.open .dropdown-toggle{
    background-color: rgba(0, 0, 70, 0.5)!important;
    color:#ffffff!important;
}
#profile-toggle.dropdown.open .dropdown-toggle:hover{
    background-color: transparent!important;
    color:#ffffff!important;
}
.navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: transparent!important;
}