.panel-default > .panel-heading {
  background-color: #77bae4;
}

hr.property-primary,hr.property-related {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 5px 0 0;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
}

hr.property-primary::after,hr.property-related::after {
    content:  "\f015";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2em;
    padding: 0 0.25em;
    position: relative;
    top: -0.8em;
}

hr.property-primary,hr.property-related {
    border-color: #444444;
}

hr.property-primary::after {
    background-color: #77bae4;
    color: #444444;
}
hr.property-related::after {
    background-color: #ffffff;
    color: #444444;
}


hr.details-primary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 5px 0 0;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
}

hr.details-primary::after {
    content:  "\f05a";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2em;
    padding: 0 0.25em;
    position: relative;
    top: -0.8em;
}

hr.details-primary {
    border-color: #444444;
}

hr.details-primary::after {
    background-color: #77bae4;
    color: #444444;
}