.footer {
    background-color: #77bae4;
    height: 80px;
    width: 100%;    
    opacity: 0.8;
    padding: 20px;
    text-align: center;
    color: #111111;
    margin-bottom: 0px;
}
.nav-main-options .active a:hover{
    background-color:transparent !important;
}
#homeblessed-logo-brand{
    height: 45px;
    margin-top: -10px;
}

.social-networks{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 150%;
}

.social-networks li{
    display: inline;
    padding: 0;
    margin: 0;
}

.social-networks li a{
    text-decoration: none;
    color: #111111;
}

.side-menu{
    background-color: #77bae4;
    float: none;
    display: table-cell;
    padding-top: 10px;
}

.listings{
    float: none;
    display: table-cell;
}

.centered{
    text-align: center;
}

hr.listings-primary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 5px 0 0;
    margin: 25px auto 30px;
    max-width: 250px;
    padding: 0;
    text-align: center;
}

hr.listings-primary::after {
    content:  "\f022";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2em;
    padding: 0 0.25em;
    position: relative;
    top: -0.8em;
}

.first-item{
    padding-top:10px;
}

hr.listings-primary {
    border-color: #444444;
}

hr.listings-primary::after {
    background-color: #FFFFFF;
    color: #444444;
}

.last-item{
    height: 100%;
}

.right-align{
    text-align: right;
}
.btn-success {
    color: #FFF;
    background-color: #337AB7;
    border-color: #356792;
}

.btn-success:hover {
    color: #FFF;
    background-color: rgb(35, 82, 124);
    border-color: rgb(57, 81, 102);
}